%h2="Search results for '#{@query}' (page #{@page})"

.photo-search-results
  -@photos.each do |photo|
    =link_to photo_path photo.id do
      %figure.photo
        =search_result_image_tag photo
        %figcaption=photo.title
      
=link_to "More #{@query} photos", params.merge(page: @page + 1)